@model IEnumerable<Propellerhead.Data.Model.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Customers</h1>

<p>
    <a asp-action="Create">Create new customer</a>
</p>
           
@(Html
      .Grid(Model)
      .Build(columns =>
      {
          columns.Add(model => model.Name).Titled("Name")
              .Encoded(false).RenderedAs(model => Html.ActionLink(model.Name, "Details", "Customers", new {id = model.Id}));
          columns.Add(model => model.FirstName).Titled("First");
          columns.Add(model => model.Street).Titled("Street");
          columns.Add(model => model.Number).Titled("Nr.");
          columns.Add(model => model.PostalCode).Titled("Postal");
          columns.Add(model => model.Country).Titled("Country");
          columns.Add(model => model.CustomerStatus).Titled("Status");
          columns.Add(model => model.CreationDate).Titled("Creation");
          columns.Add().Encoded(false).RenderedAs(model => Html.ActionLink("Edit", "Edit", "Customers", new { id = model.Id })); ;
          columns.Add().Encoded(false).RenderedAs(model => Html.ActionLink("Delete", "Delete", "Customers", new { id = model.Id })); ;
      })
      .Empty("No data found")
      .Filterable()
      .Sortable()
      )